body {
    margin-left: 40px;
    
    background-image: url("https://images.app.goo.gl/A4fSatSTXH6gexwt9");
}

.wrapper {
    width: 980px;
}
.navbar-brand {
    color: white;
    background: turquoise;
    
    padding: 5px;
}
.container {
    float: right;
}
h2 {
    color:turquoise;
}