body {

    margin-left: 40px;
    
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/memphis-mini.png");
}
/* .clearfix::after{
    clear: both;
    content: "";
    display: block;
} */
#main-section
#bio-image {
    float:left

}

.navbar-brand {
    color: white;
    background: turquoise;
    
    padding: 5px;
}
.navbar-nav {
    padding-left: 350px;
}


h2 {
    color:turquoise;
}

footer {
    border-top: 5px solid turquoise;
}



@media screen and (max-width :640px){

}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 980px){

}
