body {
    background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.toptal.com%2Fdesigners%2Fsubtlepatterns%2Ftag%2Flight%2Fpage%2F3%2F&psig=AOvVaw27LnlUaL-dkBt8LfZsJzlv&ust=1575858751728000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMjb87qBpeYCFQAAAAAdAAAAABAI");
}


.navbar-brand {
    background: turquoise;
    padding: 5px;
}
.container {
    float: right;
}
h2 {
    color:turquoise;
}